In [1]:
import pandas as pd

In [13]:
df = pd.read_csv('.///spider_tut/population.csv')

In [14]:
df.head()

,year,population,yearly_change_pct,yearly_change,migrants,median_age,fertility_rate,density_p_km2,urban_pop_pct,urban_pop,share_of_world_pop_pct,world_pop,global_rank
0,2024.0,NaN,-0.03 %,"-492,570","-310,866",39.5,1.21,152,66.1 %,"941,865,672",17.55 %,"8,118,835,999",2.0
1,2023.0,NaN,-0.02 %,"-215,985","-310,220",39.0,1.19,152,65.0 %,"926,375,811",17.72 %,"8,045,311,447",2.0
2,2022.0,NaN,0.00 %,"-6,128","-311,380",38.5,1.18,152,63.8 %,"910,080,750",17.88 %,"7,975,105,156",1.0
3,2020.0,NaN,0.22 %,"3,065,750","-33,649",37.4,1.28,152,61.4 %,"875,075,919",18.17 %,"7,840,952,880",1.0
4,2015.0,NaN,0.67 %,"9,104,816","-155,379",35.6,1.67,148,55.6 %,"775,352,918",18.77 %,"7,426,597,537",1.0

In [15]:
import json

In [17]:
df = pd.read_json('.///spider_tut/population.json')

In [18]:
df.head()

,year,population,yearly_change_pct,yearly_change,migrants,median_age,fertility_rate,density_p_km2,urban_pop_pct,urban_pop,share_of_world_pop_pct,world_pop,global_rank
0,2024.0,None,2.53 %,"730,268","6,000",18.1,4.23,93,52.3 %,"15,492,243",0.36 %,"8,118,835,999",51.0
1,2023.0,None,2.53 %,"712,492","6,000",17.9,4.29,91,51.9 %,"14,978,681",0.36 %,"8,045,311,447",51.0
2,2022.0,None,2.48 %,"682,293","6,000",17.8,4.34,89,51.4 %,"14,480,845",0.35 %,"7,975,105,156",52.0
3,2020.0,None,2.54 %,"664,239","-12,301",17.5,4.47,84,50.5 %,"13,532,312",0.34 %,"7,840,952,880",52.0
4,2015.0,None,2.24 %,"495,340","-21,498",16.8,4.81,74,48.4 %,"11,425,679",0.32 %,"7,426,597,537",54.0